.single-service {background-color: #f7fbff;margin-bottom: 30px;border-radius: 5px;}

.service-icon img {max-height: 230px;border-radius: 5px 5px 0 0;}


.service-content {
    padding: 20px;
}

.service-content h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

a.btn-fit svg {
    margin-left: 5px;
}