.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-transform: capitalize;
    padding: 15px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #71ad27 !important;
}
.logout-btn {
    color: #fff;
    background: transparent;
    border: none;
    margin-right: 10px;
    transition: .3s ease all;
}

.logout-btn:hover{
    color: #71ad27;
}